:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.8);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: #1E40AF;
  --color-secondary: #F97316;
  --color-accent: #6347E9;
  --color-highlight: #3EE6BF;
  --color-danger: #D0090D;
  --color-text: rgba(0, 0, 0, 0.8);
  --color-primary-hover: #2563EB;
  --color-secondary-hover: #EA580C;
  --color-accent-hover: #7C3AED;
  --color-highlight-hover: #2DD4BF;
  --color-danger-hover: #DC2626;
} 

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.text-highlight {
  color: var(--color-highlight);
}

.text-danger {
  color: var(--color-danger);
}

.text-default {
  color: var(--color-text);
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-highlight {
  background-color: var(--color-highlight);
}
.bg-danger {
  background-color: var(--color-danger);
}
.bg-primary:hover {
  background-color: var(--color-primary-hover);
}
.bg-secondary:hover {
  background-color: var(--color-secondary-hover);
}
.bg-accent:hover {
  background-color: var(--color-accent-hover);
}
.bg-highlight:hover {
  background-color: var(--color-highlight-hover);
}
.bg-danger:hover {
  background-color: var(--color-danger-hover);
}
